.characters-sidebar {
    box-shadow: 4px 4px 4px 4px;
}

.characters-sidebar-input {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.characters-sidebar-btns {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar-content {
    padding-left: 0.5rem;
    display: grid;
    grid-template-rows: 10vh 12vh auto;
}

.sidebar-content > input {
    font-family: 'Press Start 2P', cursive;
}

.sidebar-char {
    display: grid;
    grid-template-columns: 3fr 1fr;
    cursor: pointer;
}
