.characters-sidebar {
    box-shadow: 4px 4px 4px 4px;
    max-height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
}

.characters-sidebar-input {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.characters-sidebar-btns {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidebar-content {
    padding-left: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
}

.sidebar-content > input {
    font-family: 'Press Start 2P', cursive;
}

.sidebar-char {
    display: grid;
    grid-template-columns: 3fr 1fr;
}