.feat-screen {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    max-height: 100vh;
}

.feat-icon {
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.feat-details {
    grid-row: 2;
    grid-column: 2;
    text-align: justify;

    padding: 10px 20px;

    display: block;
    border-color: black;
    border-style: solid;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
}

.feat-go-back {
    grid-row: 2;
    grid-column: 2;
}

.icon {
    transform: scaleY(-1);
    color: black;
    outline: none;

    height: 100%;
    width: 100%;
}