@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body, html {
    margin: 0;
    padding: 0;

    font-family: 'Press Start 2P', cursive;
}

.app-main-screen-new, .app-screen {
    display: grid;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .app-main-screen-new {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .app-screen {
        grid-template-rows: 5vh 1fr;
    }

    .app-main-screen-new {
        grid-template-rows: 15vh 1fr;
    }

    .app-characters-screen {
        /* grid */
    }
}

.center {
    align-self: center;
    justify-self: center;
}

.regular-text {
    color: black;
    text-decoration: none;
}
