.menu-card {
    display: grid;
    justify-self: center;
    align-self: center;

    width: 100%;
    height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.menu-icon {
    width: 90%;
    height: 90%;
    cursor: pointer;
}