.menu-card {
    display: grid;
    max-height: 10vh;

    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

.menu-icon {
    max-height: 10vh;
    width: 90%;
    height: 90%;
    cursor: pointer;
}