.sidebar-container {
    display: none;
}

.sidebar-container.show {
    background-color: blue;
    width: 100%;
    background-color: inherit;
    grid-column: 4;
    grid-row: 2;
    transition: 5s;
    display: grid;
    grid-template-columns: 1% 1fr 1%;
}

.feat-sidebar-container {
    grid-column: 2;
}